h1{
  text-align: center;
  color: #d16fc6;
  font-style: oblique;
  font-family: segoe script;
}
body{
  background-color: #d1b96f;
}
h1:hover{
  color:#c9d16f;
  background-color: #d16f91;
  font-size: 60px;
  border: 5px solid #9c9bd4;
  font-family: Arial;
}
